/* .icon{
    font-size: 3rem;  
  align-items: center;
  
}

#home{
background: linear-gradient(to right, #1a5155 0%, #030e3d 100%);
padding: 100px 0 60px;
} 



.card{
   background:#484d58; 
   
}
 */
